<div class="si">
  <!-- 热门标签 -->
  <div class="si-each">
    <div class="si-title">故障类型</div>
    <div class="si-p1">
      {foreach $category as $v}
      {if $v.parent_id == 0}
      <a href="/?id={$v.id}" class="{if $id == $v.id}curr{/if}">{$v.name}</a>
      {/if}
      {/foreach}
    </div>
  </div>
  <!-- 最新文章 -->
  <div class="si-each">
    <div class="si-title">最新故障</div>
    <div class="si-p2">
      {foreach $article_new as $v}
        <p><a href="/show?id={$v.id}">{$v.title}</a></p>
      {/foreach}
    </div>
  </div>
  <!-- 最热文章 -->
  <div class="si-each">
    <div class="si-title">
      <span class="si-p3-top">TOP 10</span> 常见故障
    </div>
    <div class="si-p3">
      {foreach $article_hot as $v}
        <p><a href="/show?id={$v.id}">{$v.title}</a></p>
      {/foreach}
    </div>
  </div>
</div>